#wrapper.index {
    position:absolute; left:0; top:0; width:100%; height:100%;

    .showBox {
        position:absolute; left:50%; top:50%; width:400px; height:550px; margin:-275px 0 0 -200px; background-color:#F3F3F3; padding:10px;

        .sb-inner {
            background-color:#fff; height:100%;

            .scrollMe {
                height:100%;
            }
        }
    }
}
